@import 'income-review.scss';

.financial-input--row {
  padding: 0.5rem;
}

.financial-input--text {
  padding-top: 0.75rem;
}

input {
  text-align: right;
  width: 90%;
}

.input-group {
  flex-wrap: nowrap !important;
}

.financial-input--disabled {
  text-align: right;
  padding: 0.5rem 0.25rem;
  width: 90%;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.financial-input--disabled::after,
.financial-input--disabled::before {
  box-sizing: border-box;
}
