<h1 class="border-bottom">Declaration</h1>
<common-page-section layout="noTips">
  <p class="mt-4">
    I certify that the information given in this application form and any
    documentation attached to it is true, correct and complete.
  </p>
  <p>
    I believe that my family's income for this year or last year is at least 10%
    lower than the income used to calculate the Fair PharmaCare coverage I now
    have.
  </p>
  <div>
    I understand that the information given in this application form and any
    documentation attached to it:
    <ul>
      <li>
        Will be used to determine, verify and administer my and/or my family's
        Fair PharmaCare Plan coverage;
      </li>
      <li>
        Will be collected, used and disclosed in accordance with the
        <em>Pharmaceutical Services Act</em> and the
        <em>Freedom of Information and Protection of Privacy Act</em>.
      </li>
    </ul>
  </div>
  <p>
    I acknowledge that if information from the Canada Revenue Agency
    demonstrates that my family's income is not at least 10% lower than the
    income used to calculate the Fair PharmaCare coverage I now have, I will be
    required to repay the Ministry of Health any assistance I received in excess
    of the assistance for which I was actually eligible.
  </p>

  <form [formGroup]="formGroup" class="ml-4">
    <div class="pt-4">
      <common-checkbox
        [label]="registrantConsentStmt"
        formControlName="registrantConsent"
        aria-required="true"
      ></common-checkbox>
    </div>
    <div *ngIf="hasSpouse" class="pt-4">
      <common-checkbox
        [label]="spouseConsentStmt"
        formControlName="spouseConsent"
        [attr.aria-required]="hasSpouse"
      ></common-checkbox>
    </div>

    <!-- NOTE: Work-around until checkbox component is fixed in library, not compatiable with reactive forms -->
    <common-error-container [displayError]="!isChecked && isTouched">
      Consent must be provided.
    </common-error-container>
  </form>
</common-page-section>
